@media screen and (max-width: 1150px) {
    nav, ul, li, a, .auth {
        font-size: 18px;
    }
    .infoText h1 {
        font-size: 50px;
    }

    .infoText p {
        font-size: 30px;
    }

    .infoText a {
        font-size: 16px;
    }
}

@media screen and (max-width: 890px) {
    nav, ul, li, a, .auth {
        font-size: 14px;
    }

    .infoText h1 {
        font-size: 38px;
    }

    .infoText p {
        font-size: 28px;
    }

    .infoText a {
        font-size: 13px;
    }
}

@media screen and (max-width: 778px) {
    nav, ul, li, a, .auth {
        font-size: 10px;
    }

    .infoText h1 {
        font-size: 30px;
    }

    .infoText p {
        font-size: 25px;
    }

    .infoText a {
        font-size: 12px;
    }
}


@media screen and (max-width: 690px) {
    nav, .auth {
        display: none;
    }

    .infoText h1 {
        font-size: 30px;
    }

    .infoText p {
        font-size: 25px;
    }

    .infoText a {
        font-size: 12px;
        padding: 20px 50px;
    }
}






@media screen and (max-width: 580px) {
    nav, .auth {
        display: none;
    }

    .infoText h1 {
        font-size: 17px;
        padding: 20px 10px;
        
    }

    .infoText p {
        font-size: 19px;
        padding: 20px 10px;
    }

    .infoText a {
        font-size: 8px;
        padding: 20px 10px;
        
    }
}