body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: red;
    background-color: #2B2B89;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1400px;
    padding: 15px 100px;
    margin: 0 auto;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #98BB24;
    border-radius: 25px;
    margin-top: 25px;
}

.logo img {
    display: block;
    width: 80px;
    height: 80px;

}
nav ul {
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: #C44426;
    font-size: 18px;
}

.auth button {
    outline: none;
    border: none;
    background-color: #C44426;
    color: azure;
    border-radius: 15px;
    padding: 25px;  
}

.infoText {
    min-height: 100vh;
    border-radius: 25px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.infoText h1 {
    max-width: 1400px;
    padding: 50px 100px;
    margin: 0 auto;
    font-size: 50px;
}

.infoText p {
    max-width: 1400px;
    padding: 50px 100px;
    margin: 0 auto;
    font-size: 30px;
}

.infoText a {
    max-width: 1400px;
    padding: 50px 100px;
    margin: 0 auto;
    font-size: 16px;
    color: #98BB24;
}
.slideShow{
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.sliderPage {
    min-height: 100px;
    width: 100%;
    border-radius: 25px;    
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sliderPage img {
    height: 800px;
    width: 100%;
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


.flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px 0;
}
.flexParent {
    max-width: 260px;
    border: 2px solid pink;
    border-radius: 10px;
}
.flexParent img {
    width: 100%;
    height: 200px;
    padding: 25px;
}
.flexParent p {
    font-size: 15px;
}
.flexParent a {
    color: red;
}